
  body {
      background-color: teal;
  
  }
  
  .empty { 
   display:inline-block;
   height: 160px;
   width: 160px;
   margin: 10px;
   border: 3px black solid;
   background-color: white;
  
  }
  
  .fill {
    background-image: url('http://source.unsplash.com/random/150x150');
    position: relative;
    width: 150px;
    height: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer; 
  }
  
  .hold {
    border: solid gray 4px;
  }
  
  .hovered {
    background: lightblue;
    border-style: dashed;
  }
  .invisible {
    display: none;
  }
  
